.part {
	float: left;
	border: 1px solid #999;
	font-family: Arial, Sans-Serif;
    font-size: 13px;
    background-color: #d6e5f4;
}

.prefix .data {
	display: none;
}

.suffix .data {
	display: none;
}

.sequence {
	padding: 1em;
	border: 1px solid #ccc;
}

.field {
 	font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #85b1de;
    width: 300px;
	background-color: #EDF2F7;	
}

.additional_sequence {
}

.sequence {
	
}

.handle {
	height: 20px;
	background-color: #1D89F4;
}

.content {
    padding: 10px;	
}

#resultarea {
	border: 1px solid #ccc;
	width: 300px;
	height: 200px;
	float: left;
}